1 ICON "/Users/zapp/dev/dc32_nibbler/rp2040-doom/data/setup.ico"

1 24 MOVEABLE PURE "/Users/zapp/dev/dc32_nibbler/rp2040-doom/rp2040-build/src/setup/setup-manifest.xml"

1 VERSIONINFO
PRODUCTVERSION 3, 6, 2, 0
FILEVERSION 3, 6, 2, 0
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "3.6.2.0"
   VALUE "FileDescription", "AND!XOR DC32 Nibbler 3.6.2 Setup"
   VALUE "InternalName", "chocolate-doom"
   VALUE "CompanyName", "chocolate-doom-dev-list@chocolate-doom.org"
   VALUE "LegalCopyright", "GNU General Public License"
   VALUE "ProductName", "AND!XOR DC32 Nibbler Setup"
   VALUE "ProductVersion", "3.6.2"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }
}

